.gdoc-columns {
    margin: 1rem 0
}

.gdoc-columns--regular>:first-child {
    flex: 1
}

.gdoc-columns--small>:first-child {
    flex: .35;
    min-width: 7rem
}

.gdoc-columns--large>:first-child {
    flex: 1.65;
    min-width: 33rem
}

.gdoc-columns__content {
    flex: 1 1;
    min-width: 13.2rem;
    padding: 0
}

.gdoc-columns .gdoc-post__anchor {
    display: none
}

.flex-mobile-column.gdoc-columns {
    margin: 2rem 0
}

.flex-mobile-column .gdoc-columns__content {
    min-width: auto;
    margin: 0
}

.flex-gap {
    flex-wrap: wrap;
    gap: 1rem;
}
.flex {
    display: flex;
}

.alert-box {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    background-image: linear-gradient(#003056, #003056), linear-gradient(#003056, #003056), linear-gradient(#003056, #003056), linear-gradient(#003056, #003056), linear-gradient(rgba(32, 147, 196, 0.2), rgba(32, 147, 196, 0.2));
    background-repeat: no-repeat;
    background-size: 4px 30px, 30px 4px, 4px 30px, 30px 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left top, left top, right bottom, right bottom, 4px 4px;
}

.alert-box-red {
    background-image: linear-gradient(#e90057, #e90057), linear-gradient(#e90057, #e90057), linear-gradient(#e90057, #e90057), linear-gradient(#e90057, #e90057), linear-gradient(rgb(192 14 31 / 20%), rgb(199 14 31 / 20%));
}

.alert-box p {
    margin: 0;
    line-height: 1.3;
}