{{- $content := .content }}
{{- $page := .page }}
{{- $width := .width | default "80%" }}
{{- $padding := .padding | default "20px" }}
{{- $margin := .margin | default "" }}
{{- $id := .id | default "mychart" }}
{{- $jsFile := .jsFile | default "myJsfile" }}
{{- $text := .text }}

{{- with $page }}
{{- if not $margin }}
<div class="chartjs-wrapper" style="position:relative;width:{{ $width }};padding:{{ $padding }};margin-left:calc((100% - {{ $width }})/2);margin-right:auto;">
  <canvas id="{{ $id }}"></canvas>
  {{- if $text }}
  <div style="padding:5% 10%;text-align:center;">{{ $text }}</div>
  {{- end }}
</div>
{{- end }}
{{- if $margin }}
<div class="chartjs-wrapper" style="position:relative;width:{{ $width }};padding:{{ $padding }};margin:{{ $margin }};">
  <canvas id="{{ $id }}"></canvas>
  {{- if $text }}
  <div style="padding:5% 10%;text-align:center;">{{ $text }}</div>
  {{- end }}
</div>
{{- end }}
<script type="module" src="{{ $jsFile }}"></script>
{{- .Store.Set "hasChartjs" true }}
{{- end }}