{{- $content := .content }}
{{- $page := .page }}
{{- $width := .width | default "75%" }}
{{- $id := .id | default "mychart" }}
{{- $jsFile := .jsFile | default "myJsfile" }}
{{- $text := .text }}

{{- with $page }}
<div
  class="chartjs-wrapper"
  style="position:relative;width:{{ $width }};box-sizing:border-box;margin:0 auto;"
>
  <canvas id="{{ $id }}"></canvas>
  {{- if $text }}
  <div style="padding:5% 10%;text-align:center;">{{ $text }}</div>
  {{- end }}
</div>
<script type="module" src="{{ $jsFile }}"></script>
{{- .Store.Set "hasChartjs" true }}
{{- end }}
